<v-data-table
     v-model="customer.selectedBill"
    :headers="customer.headers"
    :loading="customer.loading"
    loading-text="Chargement... Veuillez attendre"
    :items="customer.bills"
    :show-select="true"
    locale="fr-FR"
    no-data-text="Vous n'avez aucune facture non letrée existante"
    no-results-text="Aucun résultat n'a été trouvé pour votre recherche"
    :footer-props="{
        itemsPerPageAllText:'Tout',
        itemsPerPageText: 'Affichage'
    }"
    dense
    @item-selected="getBillAccountingEntry"
>
</v-data-table>