{% extends "partials/base.html" %}
{% load static %}
{% block title %}Revenus{% endblock title %}
{% block extra_css %}
    <!-- Sweet Alert css-->
        <!-- Dragula css -->
    <link rel="stylesheet" href="{% static 'libs/dragula/dist/dragula.min.css' %}" />
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% block header %}
                    {% include "partials/topbar.html" with url_name='treasury_incomes' checkouts=currencies current_currency=currency.symbol_iso current_flag=current_checkout selected_month=selected_month current_year=fiscal_year %}
                    {% endblock header %}
                    {% block pagetitle %}
                    {% include "partials/page-title.html" with pageurl="/plan-comptable" pagetitle="Recettes" title="Recettes" selected_month=selected_month in_year=fiscal_year %}
                    {% endblock pagetitle %}

                    <!-- end page title -->

                     <div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
                        <div class="col-xl-3 col-md-3 col-lg-3 card" style="overflow: auto;height: 570px">
                            <div class="p-4 d-flex flex-column">
                                <div class="px-4 mx-n4" style="height: calc(100vh - 468px);">

                                    {% if messages %}
                                    {% for message in messages %}
                                         <div class="alert {{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                    <form method="post"  data-year="{{ fiscal_year }}" data-url-adjunct="{% url 'accounting_adjunct_input' %}" data-url-accounting-additional="{% url 'accounting_additional_input' %}" id="treasury_form">
                                        {% csrf_token %}
                                        {% for field in income_form %}
                                        <div class="mb-4">
                                            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% if field.name == 'accounting_main' %}
                                            <div class="mb-4" id="accounting-additional-div"></div>
                                            <div class="mb-4" id="accounting-adjunct-div"></div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="submit" class="btn btn-primary" id="addNewProject">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!--end side content-->
                        <div class="col-xl-9 col-md-9 col-lg-9">
                            <div class="hstack mb-4">
                                <h5 class="fw-semibold flex-grow-1 mb-0">Caisse {{ currency.name }} |  Balance Caisse: {{ balance }} {{ currency.symbol_iso }}</h5>
                            </div>

                           <div class="px-4 mx-n4" id="">
                               <div class="table-responsive">
                                        <table class="table table-hover table-light table-bordered table-nowrap" style="width:100%" data-treasury-type="encaissement" data-api-url="/tresorerie/income/" id="treasury_table">
                                            <thead class="table-active">
                                                <tr>
                                                    <th scope="col">Date de l'opération</th>
                                                    <th scope="col">Compte</th>
                                                    <th scope="col">Détail</th>
                                                    <th scope="col"># Bordereau</th>
                                                    <th scope="col">Montant</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody id="budget-list">
                                                {% for income in incomes|dictsortreversed:"in_at" %}
                                                <tr>
                                                    <td>{{ income.in_at }}</td>
                                                    <td>{{ income.accounting_main }}</td>
                                                    <td>{{ income.more|default:"-" }}</td>
                                                    <td><span class="badge bg-danger text-uppercase">{{ income.slip_number }}</span></td>
                                                     <td>{{ income.amount }}</td>
                                                    <td>
                                                        <div class="hstack gap-2">
                                                            <button class="btn btn-sm btn-soft-danger remove-list" data-bs-toggle="modal" data-bs-target="#deleteIncome" data-remove-id="{{ income.id }}">
                                                                <i class="ri-delete-bin-5-fill align-bottom"></i>
                                                            </button>
                                                            <button class="btn btn-sm btn-soft-info edit-list" data-bs-toggle="modal" data-bs-target="#updateIncome" data-edit-id="{{ income.id }}">
                                                                    <i class="ri-pencil-fill align-bottom"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                               <div class="py-4 mt-4 text-center" id="noresult" style="display: none;">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px"></lord-icon>
                                    <h5 class="mt-4">Désolé! Aucun Résultat Trouvé</h5>
                               </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
        </div>
        <!-- end main content-->

        <!-- Modal -->
    <div class="modal fade" id="updateIncome" tabindex="-1" aria-labelledby="updateIncomeLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-soft-success">
                    <h5 class="modal-title" id="updateIncomeLabel">Modifier Opération</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="task-error-msg" class="alert alert-danger py-2"></div>
                    <form autocomplete="off" method="post" id="update-form">
                        {% csrf_token %}
                        <input type="hidden" id="edit_record_id" name="edit_record_id" class="form-control">
                        <div class="mb-3 position-relative" id="update_main_div">
                            <label for="update_main_input" class="form-label">Compte principal</label>
                        </div>
                        <div class="row g-4 mb-3">
                            <div class="col-lg-6" id="update_additional_div"></div>
                            <!--end col-->
                            <div class="col-lg-6" id="update_adjunct_div"> </div>
                            <!--end col-->
                        </div>
                        <div class="mb-3">
                            <label for="slip_number_input" class="form-label">Numéro bordereau</label>
                            <input type="text" id="slip_number_input" name="slip_number" class="form-control" placeholder="Entrez le numéro de bordereau">
                        </div>
                        <div class="mb-3">
                            <label for="amount_input" class="form-label">Montant</label>
                            <input type="text" id="amount_input" name="amount" class="form-control" placeholder="Entrez un montant">
                        </div>
                        <div class="mb-4">
                            <label for="done_at_input" class="form-label">Date de l'opération</label>
                            <input type="date" id="done_at_input" name="in_at" class="form-control" placeholder="Entrez la date de l'opération">
                        </div>

                        <div class="mb-4">
                            <label for="description_input" class="form-label">Description</label>
                            <input type="text" id="description_input" name="more" class="form-control" placeholder="Entrez une description">
                        </div>

                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-fill align-bottom"></i> Fermr</button>
                            <button type="submit" class="btn btn-primary" id="addNewTodo">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end create taks-->

    <!-- removeFileItemModal -->
    <div id="deleteIncome" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-removetodomodal"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Êtes-vous sûr?</h4>
                            <p class="text-muted mx-4 mb-0">Êtes-vous sûr de vouloir supprimer cette recette ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" id="remove_record_id" name="remove_record_id" class="form-control">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn w-sm btn-danger" id="remove-income">Oui, Je suis sûr!</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end delete modal -->

{% endblock content %}

{% block extra_js %}
        <!--datatable js-->
    <script src="{%  static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{%  static 'js/jquery.dataTables.js' %}"></script>
    <script src="{%  static 'js/dataTables.bootstrap5.js' %}"></script>
    <script src="{%  static 'js/dataTables.responsive.js' %}"></script>
    <script src="{%  static 'js/dataTables.buttons.js' %}"></script>
    <script src="{%  static 'js/buttons.print.js' %}"></script>
    <script src="{%  static 'js/buttons.html5.js' %}"></script>
    <script src="{%  static 'js/vfs_fonts.js' %}"></script>
    <script src="{%  static 'js/pdfmake.js' %}"></script>
    <script src="{%  static 'js/jszip.js' %}"></script>

    <script src="{% static 'js/pages/treasury.init.js' %}"></script>
    <script src="{% static 'js/pages/datatables.treasury.js' %}"></script>

{% endblock extra_js %}