{% extends "partials/base.html" %}
{% load static %}
{% block title %}Dépenses{% endblock title %}
{% block extra_css %}
    <!-- Sweet Alert css-->
        <!-- Dragula css -->
    <link rel="stylesheet" href="{% static 'libs/dragula/dist/dragula.min.css' %}" />

{% endblock extra_css %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% block header %}
                    {% include "partials/topbar.html" with url_name='treasury_outcomes' checkouts=currencies current_currency=currency.symbol_iso current_flag=current_checkout current_year=fiscal_year %}
                    {% endblock header %}
                    {% block pagetitle %}
                    {% include "partials/page-title.html" with pageurl="/plan-comptable" pagetitle="Dépenses" title="Dépenses" in_year=fiscal_year %}
                    {% endblock pagetitle %}

                    <!-- end page title -->

                     <div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
                        <div class="file-manager-sidebar">
                            <div class="p-4 d-flex flex-column h-100">

                                <div class="px-4 mx-n4"style="height: calc(100vh - 468px);">
                                    <form method="post" data-year="{{ fiscal_year }}" data-url-adjunct="{% url 'accounting_adjunct_input' %}" data-url-accounting-additional="{% url 'accounting_additional_input' %}" id="treasury_form">
                                        {% csrf_token %}
                                        {% for field in outcome_form %}
                                        <div class="mb-4">
                                            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% if field.name == 'accounting_main' %}
                                            <div class="mb-4" id="accounting-additional-div"></div>
                                            <div class="mb-4" id="accounting-adjunct-div"></div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="submit" class="btn btn-primary" id="addNewProject">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!--end side content-->
                        <div class="file-manager-content w-100 p-4 pb-0">
                            <div class="hstack mb-4">
                                <h5 class="fw-semibold flex-grow-1 mb-0">Caisse {{ currency.name }} | Total: {{ total_checkout.amount__sum|default:" 0" }} {{ currency.symbol_iso }}</h5>
                                <div class="hstack gap-2">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-icon fw-semibold btn-soft-danger"><i class="ri-arrow-go-back-line"></i></button>
                                        <button class="btn btn-icon fw-semibold btn-soft-success"><i class="ri-arrow-go-forward-line"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 bg-light rounded mb-4">
                                <div class="row g-2">
                                    <div class="col-lg-auto">
                                        <select class="form-select"  data-choices-search-false name="choices-select-status" id="choices-select-status">
                                            <option value="" disabled selected>Mois</option>
                                            <option value="Janvier">Janvier</option>
                                            <option value="Février">Février</option>
                                            <option value="Mars">Mars</option>
                                            <option value="Avril">Avril</option>
                                            <option value="Mai">Mai</option>
                                            <option value="Juin">Juin</option>
                                            <option value="Juillet">Juillet</option>
                                            <option value="Août">Août</option>
                                            <option value="Septembre">Septembre</option>
                                            <option value="Octobre">Octobre</option>
                                            <option value="Novembre">Novembre</option>
                                            <option value="Décembre">Décembre</option>
                                        </select>
                                    </div>
                                    <div class="col-lg">
                                        <div class="search-box">
                                            <input type="text" id="searchTaskList" class="form-control search" placeholder="Search task name">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="todo-content position-relative px-4 mx-n4" id="todo-content">
                                <div class="todo-task" id="todo-task">
                                    <div class="table-responsive">
                                        <table class="table align-middle position-relative">
                                            <thead class="table-active">
                                                <tr>
                                                    <th scope="col">Date de l'op</th>
                                                    <th scope="col">Compte</th>
                                                    <th scope="col">Libellé</th>
                                                    <th scope="col">Détail</th>
                                                    <th scope="col"># Bordereau</th>
                                                    <th scope="col">Montant</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody id="budget-list">
                                                {% for outcome in outcomes %}
                                                <tr>
                                                    <td>{{ outcome.out_at }}</td>
                                                    <td>{{ outcome.accounting.account_name }}</td>
                                                    <td>{{ outcome.tag.adjunct_account_name }}</td>
                                                    <td>{{ outcome.more }}</td>
                                                    <td><span class="badge bg-danger text-uppercase">{{ outcome.slip_number }}</span></td>
                                                     <td>{{ outcome.amount }}</td>
                                                    <td>
                                                        <div class="hstack gap-2">
                                                            <button class="btn btn-sm btn-soft-danger remove-list" data-bs-toggle="modal" data-bs-target="#removeTaskItemModal" data-remove-id="15">
                                                                <i class="ri-delete-bin-5-fill align-bottom"></i>
                                                            </button>
                                                            <button class="btn btn-sm btn-soft-info edit-list" data-bs-toggle="modal" data-bs-target="#createTask" data-edit-id="15">
                                                                    <i class="ri-pencil-fill align-bottom"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="py-4 mt-4 text-center" id="noresult" style="display: none;">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px"></lord-icon>
                                    <h5 class="mt-4">Désolé! Aucun Résultat Trouvé</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
        </div>
        <!-- end main content-->

        <!-- Start Create Year Modal -->
    <div class="modal fade zoomIn" id="createYearModal" tabindex="-1" aria-labelledby="createYearModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-3 bg-soft-success">
                    <h5 class="modal-title" id="createProjectModalLabel">Année d'exercice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="addProjectBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in fiscal_year_form %}
                            <div class="mb-4">
                                <label for="year-field" class="form-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endfor %}
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-line align-bottom"></i> Fermer</button>
                                <button type="submit" class="btn btn-primary" id="addNewProject">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal-dialog -->
    </div>
    <!-- End Create Year Modal -->

        <!-- Modal -->
    <div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-soft-success">
                    <h5 class="modal-title" id="createTaskLabel">Create Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="task-error-msg" class="alert alert-danger py-2"></div>
                    <form autocomplete="off" action="" id="creattask-form">
                        <input type="hidden" id="taskid-input" class="form-control">
                        <div class="mb-3">
                            <label for="task-title-input" class="form-label">Task Title</label>
                            <input type="text" id="task-title-input" class="form-control" placeholder="Enter task title">
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="task-assign-input" class="form-label">Assigned To</label>

                            <div class="avatar-group justify-content-center" id="assignee-member"></div>
                            <div class="select-element">
                                <button class="btn btn-light w-100 d-flex justify-content-between" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    <span>Assigned To<b id="total-assignee" class="mx-1">0</b>Members</span> <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu w-100">
                                    <div data-simplebar style="max-height: 141px">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-2.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">James Forbes</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-3.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">John Robles</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Mary Gant</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Curtis Saenz</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-5.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Virgie Price</div>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-10.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Anthony Mills</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-6.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Marian Angel</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-7.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Johnnie Walton</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-8.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Donna Weston</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="avatar-xxs flex-shrink-0 me-2">
                                                        <img src="{% static 'images/users/avatar-9.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">Diego Norris</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4 mb-3">
                            <div class="col-lg-6">
                                <label for="task-status" class="form-label">Status</label>
                                <select class="form-control" data-choices data-choices-search-false id="task-status-input">
                                    <option value="">Status</option>
                                    <option value="New" selected>New</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <label for="priority-field" class="form-label">Priority</label>
                                <select class="form-control" data-choices data-choices-search-false id="priority-field">
                                    <option value="">Priority</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <!--end col-->
                        </div>
                        <div class="mb-4">
                            <label for="task-duedate-input" class="form-label">Due Date:</label>
                            <input type="date" id="task-duedate-input" class="form-control" placeholder="Due date">
                        </div>

                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-fill align-bottom"></i> Close</button>
                            <button type="submit" class="btn btn-primary" id="addNewTodo">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end create taks-->

    <!-- removeFileItemModal -->
    <div id="removeTaskItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-removetodomodal"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Are you sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you sure you want to remove this task ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn w-sm btn-danger" id="remove-todoitem">Yes, Delete It!</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end delete modal -->

{% endblock content %}

{% block extra_js %}
        <!-- dragula init js -->
    <script src="{% static 'libs/dragula/dist/dragula.min.js' %}"></script>
    <script src="{% static 'js/pages/treasury.init.js' %}"></script>

{% endblock extra_js %}